#adminContainer {
  padding: 0;
  margin: 0;  
  min-height: 500px;
}

#adminNav {
  display: block;
  /* chrome/webkit */
  background-image: -webkit-linear-gradient(top, #5993B3, #73A4BF); 
  /*firefox */
  background-image: -moz-linear-gradient(top, #5993B3, #73A4BF);
  /* IE */
  background-image: -ms-linear-gradient(top, #5993B3, #73A4BF);
  /*opera */
  background-image: -o-linear-gradient(top, #5993B3, #73A4BF); 
  padding: 0 10px;
  float: left;  
  
}

#adminNav a {
  border: solid 1px #A5CD4E;
  border-radius: 5px;
  /* chrome/webkit */
  background-image: -webkit-linear-gradient(top, #EBFF80, #A5CD4E); 
  /*firefox */
  background-image: -moz-linear-gradient(top, #EBFF80, #A5CD4E);
  /* IE */
  background-image: -ms-linear-gradient(top, #EBFF80, #A5CD4E);
  /*opera */
  background-image: -o-linear-gradient(top, #EBFF80, #A5CD4E); 
  /*fallback color */
  background-color: #EBFF80;
  display: block;
  font-family: Helvetica, Arial;
  border-radius: 5px;
  color: black;
  text-shadow: white 1px 1px 2px;
  font-weight: bold;
  width: 110px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
}

#adminNav a:active {
  background-image: -o-linear-gradient(top, #C7D96C 6px, #A5CD4E 100%);
  position: relative;
  left: 1px;
  top: 1px;
}

#adminNav a:hover {
  border: solid 1px #64006B;
  box-shadow: grey 0px 2px 5px 0px;
}

#adminBody {
  display: block;
  width: 80%;
  height: 100%;
  background-color: #609EBF;
  display: inline-block;
  padding: 0;
  box-shadow: none;
}

#adminBody form, #adminNav h3 {
  padding: 20px;
}

#adminBody input,textarea {
  width: 450px;
  background-color: #A3C6D9;
  font-family: Helvetica, Arial;
  color: white;
  padding: 5px;
}

#adminBody textarea {
  height: 200px;
}

#adminBody fieldset p {
  padding-bottom: 20px;
}

#adminBody label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

#adminBody fieldset {
  padding-left: 15px;
  border-top: solid 1px white;
}

#adminBody fieldset legend {
  padding: 5px;
  color: #FFFFBF;
  font-weight: bold;
  text-shadow: 1px 1px 0px #666666;
  margin-left: -15px;
}

#adminBody input[type="submit"] {
  margin: auto;
  margin-top: 20px;
  margin-left: 104px;  
  width: 100px;
}

#fAlbum, #fTracks {
  border-top: solid 1px white;
  
}

#fAlbum legend, #fTracks legend {
  margin-left: -15px;
}

#fTracks input:nth-child(1) {
  width: 20px;
  text-align: center;
}
#fTracks input:nth-child(2) {
  width: 425px;
}
#fTracks input:nth-child(3) {
  width: 80px;
}
#fTracks p {
  margin: 0;
  padding: 0;
}
#fAlbum select {
  background-color: #A3C6D9;
  color: #fff;
  width: 190px;
  border: none;
  padding: 5px;
}

#fAlbum #date {
  width: 180px;
  
}

.coverLeft {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 80px; 
  
}

.coverFloat { 
  width: 300px; 
  border: solid 1px red;  
}

.cover {
  cursor: pointer;
}

.clrl {
  clear: left;
}

#fTracks .moreTracks {
  text-align: right;
  padding-right: 15px;
}


#fTracks .moreTracks input[type="button"] {
  width: 50px;
  border-radius: 5px;
  text-align: right;
}

#albumBtn {
  margin: 0 !important;
  width: 120px !important;
  margin-left: 200px !important;
  
}

#trLength {
  text-align: center;
}

#coverUp {
  display: inline-block;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden;             
}

.loading {
	opacity: 0.5;
}

#adminBody #coverForm {
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.newTrack {
  opacity: 0.5;
}