#adminNav a {
  display: block;
  width: 110px;
  margin: auto;
  margin-bottom: 10px;
}

#adminNav a:active {
  background-image: -o-linear-gradient(top, #C7D96C 6px, #A5CD4E 100%);
  position: relative;
  left: 1px;
  top: 1px;
}


#adminBody form, #adminNav h3 {
  padding: 20px;
}

#adminBody input,textarea {
  width: 100%;
  padding: 5px;
}

#adminBody textarea {
  height: 200px;
}

#adminBody fieldset p {
  padding-bottom: 20px;
}

#adminBody label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

#adminBody fieldset {
  padding-left: 15px;
  border-top: solid 1px white;
}

#adminBody fieldset legend {
  padding: 5px;
  color: #FFDF40;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  margin-left: -15px;
}

#adminBody input[type="submit"] {
  margin-top: 20px;
  width: 100px;
}

#fAlbum, #fTracks {
  border-top: solid 1px white;
  
}

#fAlbum legend, #fTracks legend {
  margin-left: -15px;
}

#fTracks input:nth-child(1) {
  width: 20px;
  text-align: center;
}

#fTracks inut:nth-child(1):disabled {
	color: #ffffff;
}
#fTracks input:nth-child(2) {
  width: 73%;
}
#fTracks input:nth-child(3) {
  width: 80px;
  text-align: center;
}
#fTracks p {
  margin: 0;
  padding: 0;
}
/*#fAlbum select {
  background-color: #A3C6D9;
  color: #fff;
  border: none;
  padding: 5px;
}*/

#fAlbum #artist {
  width: 190px;
}
#fAlbum #month {
  width: 100px; 
}

#falbum #year {
  width: 60px;
  text-align: center;
}

.coverLeft {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 80px; 
  
}

.coverFloat { 
  width: 300px; 
  border: solid 1px red;  
}

.cover {
  cursor: pointer;
}

.clrl {
  clear: left;
}

#fTracks .moreTracks {
  text-align: right;
  padding-right: 15px;
}


#fTracks .moreTracks input[type="button"] {
  width: 50px;
  border-radius: 5px;
  text-align: right;
}

#albumBtn {
  margin: 0 !important;
  width: 120px !important;
  margin-left: 200px !important;
  
}

#trLength {
  text-align: center;
}

#coverUp {
  display: inline-block;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden;             
}

.loading {
  opacity: 0.5;
}

#adminBody #coverForm {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.newTrack {
  opacity: 0.5;
}

#adminBody #newArtist {
  width: 40px;
}

#closeWindow {
  position: absolute;
  top: -35px;
  right: 0;
  cursor: pointer;
}

#artistPanel {
  display: none;
  position:fixed;
  top: 20%;
  left: 30%;
  width:500px;
  background-color: rgba(50, 50, 50, 1);
  padding:0 15px 0px 0px;
  z-index:2001;
}


#lightbox {
  display:none;
  background:#000;
  opacity:0.7;
  filter:alpha(opacity=30);
  position: fixed;
  top:0px;
  left:0px;
  z-index:2000;
}