body {
  background-color: #eee;
  /*background-color: #DFF4FF;*/
  color: #E6F6FF;
}
h1 {
  color: #F5FFBF;
}
h2 {
  color: #FFFFBF;
}
h3 {
  color: #FFFFBF; 
}
section article, header, footer, aside {
  background-color: #609EBF;  
}
#mainNav {
  background-color: #EBFF80;
  color: black;
}
#mainNav li a {
  color: #64006B;
  text-decoration: none;
}
#home li.home, #news li.news, #artists li.artists, #contribute li.contribute, #requests li.requests, #community li.community a{
  background-color: #BFD936;
}
#home li.home a, #news li.news a, #artists li.artists a, #contribute li.contribute a, #requests li.requests a, #community li.community a {
  color: #F5FFBF;
  font-weight: bold;
}
#mainNav li:hover {
  background-color: #96B300;
  
}
#mainNav li:hover a {
  color: #F5FFBF;
}

a {
  color: #F5FFBF;
}