body {
  background-color: #eee;
  /*background-color: #DFF4FF;*/
  color: #E6F6FF;
}
h1 {
  color: #F5FFBF;
}
h2 {
  color: #FFFCE6;
}
h3 {
  color: #FFFCE6; 
}
section article, header, footer, aside {
  background-color: #609EBF;  
}
nav {
  background-color: #EBFF80;
  color: black;
}
nav li a {
  color: #64006B;
  text-decoration: none;
}
#home li.home, #blackjack li.blackjack, #forms li.forms, #ajax li.ajax {
  background-color: #BFD936;
}
#home li.home a, #blackjack li.blackjack a, #forms li.forms a, #ajax li.ajax a {
  color: #F5FFBF;
  font-weight: bold;
}
nav li:hover {
  background-color: #96B300;
  
}
nav li:hover a {
  color: #F5FFBF;
}

section article h2, h3 {
  color: #FFFFBF;
}
a {
  color: #F5FFBF;
}

article article {
  padding: 5px;
}