@font-face {
  font-family: Ubuntu;
  src: url("../font/ubuntum.ttf");
}

* {
  margin: 0;
  padding: 0; 
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: Ubuntu, "Helvetica", "Arial", sans-serif;  
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.196);
}

h1 {
  font-size: 2em;
}

h2 {
  padding: 10px 0 10px 0;
}

h3 {
  padding: 5px 0 10px 0;
}

div, p, header, footer {
  padding: 15px;
}

body {
  width: 1050px;
  margin: 20px auto;  
  font-size: 1em; 
  font-family: "Helvetica", "Arial", sans-serif;  
  line-height: 160%;  
  overflow-y: scroll; 
}

section {
  width: 800px;
  margin: auto;
  padding: 0; 
  float: left;
  box-shadow: 0px 0px 20px #aaa;
  -moz-box-shadow: 5px 5px 50px #aaa;
  -webkit-box-shadow:5px 5px 50px #aaa; 
}

nav {
  width: 800px;
  height: 25px;
  margin: 0 -.5em 20px;
  padding: 0 .5em 0 .5em;   
  position: absolute;
  font-family: Ubuntu, "Helvetica", "Arial", sans-serif;    
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}        

nav li:first-child, nav li:first-child:hover {
  margin-left: -.5em;
  padding-left: .5em;
}

nav:before, nav:after {
  content: '';          
  position: absolute;
  bottom: -1em;
  z-index: -1000;
  border: .5em solid #BFD936; 
  border-bottom-color: transparent;
}

nav:before {
  left: 0;
  border-left-color: transparent; 
}

nav:after {
  right: 0; 
  border-right-color: transparent;  
}

nav ul {
  list-style: none;
  margin-left: -10px;
  font-size: 0;
  padding: 0;
  margin: 0;
}
nav li {
  font-size: 16px;
  display: inline-block;
  border: none;
  width: 100px;
  text-align: center;
  font-weight: normal;  
}
nav li a {
  display: block;
  width: 100%;
  height: 100%;
}

section article {
  padding-top: 2em;
}

section article ul{
  padding: 15px;
  list-style-type: none;
}

section article ul ul {
  list-style-type: disc;
}

section article li {
  padding: 2px;
}

section article div {
  padding-left: 30px;
}

section article p {
  margin: 10px;
  padding: 0;
}

section article .entry_info {
  margin-right: 15px;
  text-align: right;
}

section article a {
  text-decoration: none;
}

section article { 
  padding: 40px 15px 15px 25px; 
  text-align: justify;
}

section article p img {
  float: right;
  margin-left: 5px;
  border: none;
  display: block;
  width: 100px;
  height: 100px;
}

section article ol {
  list-style-position: inside;
}

section article ol li:nth-child(odd) {
  background-color: #66A8CC;
}

section article article {
  padding: 15px 0px 0px 15px;
}


footer {
  border-top: solid 1px white;
}

aside {
  padding: 10px 15px 15px 15px;
  margin-left: 20px;
  width: 200px;
  float: left;
  box-shadow: 0px 0px 20px #aaa;
  -moz-box-shadow: 5px 5px 50px #aaa;
  -webkit-box-shadow:5px 5px 50px #aaa;
}

aside fieldset, form, p{
  padding-left: 0;
  margin-left: 0;
  border: 0;
}

aside input[name="Search"] {
  width: 100%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-color: transparent;
}

#featured_albums {
  margin: 0;
  padding: 0;
}

#featured_albums img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

#theme_choser {
  font-size: 0;
}
aside ul {
  list-style-type: none;  
}

aside ul li {
  padding-right: 5px;
}

#theme_choser li {
  display: inline-block;
  margin-right: 10px;
}

#theme_choser a {
  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  border: solid 1px white;  
}

#theme_choser a.changeNone {
  display: block;
  position: relative;
  top: 9px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: none; 
  text-shadow: none;
}
  
.changeBlue {
  background-color: #609EBF;
}
.changeOrange {
  background-color: #F2A900;
}
.changeGreen {
  background-color: #B0EE71;
}

a {
  /* placeholder for possible future additions */
}
abbr {
  border-bottom: dashed 1px white;
}

q {
  font-family: monospace;
}

fieldset {
  border: none;
  padding: 6px;
}

label {
  vertical-align: middle; 
  display: inline-block;
  width: 140px;
}

form p {
  margin: 0;
  padding: 10px 0;
}

input, input.input_inactive {
  border: solid 2px #FFFCE6;
  background-color: #eee;
  color: #999;  
}

input[type=text].required {
  
}

input:focus {
  color: #000;
  box-shadow: 0px 0px 10px #DFF4FF;
  -moz-box-shadow: 0px 0px 10px #DFF4FF;
  -webkit-box-shadow:0px 0px 10px #DFF4FF;
}

input.input_invalid {
  box-shadow: 2px 2px 20px #FF8C8C;
  -moz-box-shadow: 0px 0px 10px red;
  -webkit-box-shadow:0px 0px 10px red;
}

input.input_validated {
  box-shadow: 0px 0px 10px #EBFF80;
  -moz-box-shadow: 0px 0px 10px #EBFF80;
  -webkit-box-shadow:0px 0px 10px #EBFF80;
}

input[type=submit] {
  font-size: 16px;
  background-color: #eee;
  padding: 4px;
  margin-left: 150px;
  color: #000;
}
