<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.IndexController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.AlbumController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.jin.tpdb.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumController</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  <jsp-config>
  <jsp-property-group>
    <url-pattern>*</url-pattern>
    <trim-directive-whitespaces>true</trim-directive-whitespaces>
  </jsp-property-group>
</jsp-config>
</web-app>