<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.IndexController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.AlbumController</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.NewsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArtistsController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.ArtistsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditNewsController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.contribute.EditNewsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditArtistController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.contribute.EditArtistController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditAlbumController</servlet-name>
    <servlet-class>com.jin.tpdb.controller.contribute.EditAlbumController</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.jin.tpdb.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumController</servlet-name>
		<url-pattern>/album</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/news/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditNewsController</servlet-name>
    <url-pattern>/contribute/news/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditArtistController</servlet-name>
    <url-pattern>/contribute/artist/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAlbumController</servlet-name>
    <url-pattern>/contribute/album/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArtistsController</servlet-name>
    <url-pattern>/artists/</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>