<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.IndexController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AlbumController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.AlbumController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>NewsController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.NewsController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ArtistsController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.ArtistsController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>EditNewsController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.contribute.EditNewsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditArtistController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.contribute.EditArtistController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditAlbumController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.contribute.EditAlbumController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.contribute.CommentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploaderController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.UploaderController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.jin.tpdb.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RSS</servlet-name>
		<servlet-class>com.jin.tpdb.controller.RssController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RatingController</servlet-name>
		<servlet-class>com.jin.tpdb.controller.RatingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExternalAPIs</servlet-name>
		<servlet-class>com.jin.tpdb.controllers.ExternalAPIs</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>fileServing</servlet-name>
		<servlet-class>com.jin.FileServingServlet</servlet-class>
		<init-param>
			<param-name>listings</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AboutPage</servlet-name>
		<jsp-file>/about.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumController</servlet-name>
		<url-pattern>/album/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsController</servlet-name>
		<url-pattern>/news/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNewsController</servlet-name>
		<url-pattern>/contribute/news/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditArtistController</servlet-name>
		<url-pattern>/contribute/artist/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditAlbumController</servlet-name>
		<url-pattern>/contribute/album/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArtistsController</servlet-name>
		<url-pattern>/artists/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploaderController</servlet-name>
		<url-pattern>/uploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RSS</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileServing</servlet-name>
		<url-pattern>/images/albums/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RatingController</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExternalAPIs</servlet-name>
		<url-pattern>/externalData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AboutPage</servlet-name>
		<url-pattern>/about/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorPage.jsp</location>
	</error-page>
	<filter>
		<filter-name>imagesCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>static</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>2592000</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>cssCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>2592000</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>jsCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>2592000</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ServletCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>200</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>gzipFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
	</filter>
	<!-- <filter> <filter-name>TimeFilter</filter-name> <filter-class>com.dvlcube.filter.TimeFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>TimeFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->

	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.jin.filter.CharsetFilter</filter-class>
	</filter>

	<!-- <filter> <filter-name>SimplePageCachingFilter</filter-name> <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>SimplePageCachingFilter</filter-name> 
		<url-pattern>/artists/</url-pattern> </filter-mapping> -->
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<servlet-name>*</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<!-- <filter-mapping> <filter-name>ServletCache</filter-name> <url-pattern>*</url-pattern> 
		</filter-mapping> -->
	<filter-mapping>
		<filter-name>imagesCache</filter-name>
		<url-pattern>/images/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>imagesCache</filter-name>
		<url-pattern>*.ico</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>jsCache</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cssCache</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
		<!-- <tracking-mode>URL</tracking-mode> -->
		<tracking-mode>SSL</tracking-mode>
	</session-config>
</web-app>